<h1>the index page</h1>

<div class="list-group">
  <% @dogs.each do |dog| %>
    <div class="list-group-item">
      <ul class="dog">
          <li><%= link_to(dog.name, dog_path(dog.id))  %></li>
          <li><%= link_to('DELETE', dog_path(dog.id), method: :delete)  %></li>
          <li><%= link_to('EDIT', edit_dog_path(dog.id))  %></li>
      </ul>
     </div> 
  <% end %>
</div>